<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class= "form-signin">
  <% if @user.new_record? %>
    <h2 class="form-signin-heading" style="font-family: 'Pacifico', cursive;"><strong>Get started</strong><br><small>It's Free!</small></h2>
  <%else%>
    <h2 class="form-signin-heading" style="font-family: 'Pacifico', cursive;">Edit informations</h2>
  <%end%>
  
  <div class="field">
    <%= f.text_field :user_name, class: 'form-control',placeholder:'Username' %>
  </div>
  <div class="field">
    <%= f.text_field :user_password_hash, class: 'form-control',placeholder:'Password' %>
  </div>
  <div class="field">
    <%= f.text_field :user_password_hash_confirmation, class: 'form-control',placeholder:'Confirm Password' %>
  </div>
  <div class="field">
    <%= f.text_field :user_email, class: 'form-control',placeholder:'Email' %>
  </div>
  <div class="field">
    <%= f.text_field :user_city, class: 'form-control',placeholder:'City' %>
  </div>
  By clicking Join now, you agree to RatingMe's <%= link_to 'User Agreement',user_agreement_path %>, <%= link_to 'Privacy Policy',privacy_policy_path %>, and <%= link_to 'Cookies Policy',cookies_policy_path %>
  <br>
  <div class="actions">
    <%= f.submit 'Join now', :class=> "btn btn-lg btn-primary btn-block" %>
  </div>
</div>  
<% end %>
<% if !@user.new_record? %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<%end%>


