<%if isLoggedIn? and session[:current_user_id] == @user.id%>

<% if session[:user_reported] == "1"  %>
<div class="alert alert-warning alert-dismissible" role="alert">
           Hi, someone has reported that you have some Review that don't respect our user agreement. Your account is blocked and you cannot create new Review or Rating. Please contact us to unlock your account.
</div>
<%end%>   

<h1 style="font-family: 'Pacifico', cursive;">Your account</h1>
<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.user_password_hash %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>User city:</strong>
  <%= @user.user_city %>
</p>
<p>
  <a href='<%= get_user_message_path %>'>You have <span class="badge"><%= get_number_of_unread_message %></span> new messages</a>
</p>
 
<%= link_to 'Back', users_path, class: "btn btn-default btn-sm" %> | 
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default btn-sm" %>
<%else%>
  <h1 style="font-family: 'Pacifico', cursive;"><%= @user.user_name %></h1>
<% if userIsLoggedIn %>  

  <p>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
  </p>
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Option for the user:</h4>
      </div>
      <div class="modal-body">
        
        <div class= "form-signin">
          <h2 class="form-signin-heading" style="font-family: 'Pacifico', cursive;">Send a message to: </h2>
          <%= form_tag('/messages/post_message_to_user', method: 'GET') do %>
            <%= text_field_tag :to_user_id, "#{@user.user_name}", class: 'form-control', placeholder:'User Name' %>
            <%= text_area_tag :message,"", class: 'form-control', placeholder:'Message' %>
            <br><br>
            <%= submit_tag("Send message", class:"btn btn-lg btn-primary btn-block") %>
          <% end %>
        </div>
        <hr>
        <div class= "form-signin">
          <a href= '<%=report_user_path(@user)%>' class="btn btn-lg btn-warning btn-block" role="button">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Report this user
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>

<% end %>  
<%end%>
<hr>
<%if session[:current_user_id] == params[:id]%>
  <h3>Your rates</h3>
<%else%>
  <h3>Rates</h3>
<%end%>

<div class="table-responsive">
<table class="table">
  <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.description, review_path(rating.review) %> &nbsp; &nbsp; </td>
    <%if session[:current_user_id] == params[:id]%>  
      <td><%= link_to 'Edit',edit_user_rating_path(@user,rating), class: "btn btn-default btn-xs" %> &nbsp;|&nbsp; </td>
      <td><%= link_to 'Destroy', rating , method: :delete , data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
    <%end%>  
    </tr>
  <% end %>
</table>
</div>

<hr>
<%if session[:current_user_id] == params[:id]%>
  <h3>Your reviews</h3>
<%else%>
  <h3>Reviews</h3>
<%end%>

<div class="table-responsive">
<table class="table">
  <% @reviews.each do |review| %>
    <tr>
      <td><%= link_to review.title, review_path(review) %> &nbsp; &nbsp; </td>
    <%if session[:current_user_id] == params[:id]%>  
      <td><%= link_to 'Edit',edit_review_path(review), class: "btn btn-default btn-xs" %> &nbsp;|&nbsp; </td>
      <td><%= link_to 'Destroy', review , method: :delete , data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
    <%end%>  
    </tr>
  <% end %>
</table>
</div>

<%if session[:current_user_id] == params[:id]%>
<br><br>
<%= link_to 'Close my Account', @user , method: :delete , data: { confirm: 'Are you sure? All your Reviews and Ratings will be lost!' }, class: "btn btn-lg btn-warning" %>
<%end%>