<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @rating.description %>
</p>

<p>
  <strong><%= @rating.review.question1 %></strong>
  <%=star_rating(@rating.rate_question1)%>
</p>

<p>
  <strong><%= @rating.review.question2 %></strong>
 <%=star_rating(@rating.rate_question2)%>
</p>

<p>
  <strong><%= @rating.review.question3 %></strong>
  <%=star_rating(@rating.rate_question3)%>
</p>

<p>
  Posted by: <%=link_to User.find(@review.user_id).user_name, user_path(@review.user_id) %>, <%= time_ago_in_words(@rating.created_at) %> ago
</p>
   <a href= '<%=report_rating_path(@rating)%>' class="btn btn-default btn-xs" role="button">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Report abuse
   </a>
   <hr>
<br>

<% if isLoggedIn? and @rating.user_id == get_current_user_id %>
  <%= link_to 'Edit', edit_rating_path(@rating) %> |
<% end %>

<% if @review %>
  <%= link_to 'Back', reviews_path %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>
<br/><br/>
<div class="fb-like" data-href=<%= rating_path(@rating) %> data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
