<%= form_for(@review) do |f| %>


<% if @review.new_record? %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left; visibility:hidden;">Latitude</span>
    <%= f.hidden_field :latitude, class: "form-control", :value => session[:current_user_lat], :readonly => true %>
  </div>

  <div class="input-group">
   <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left; visibility:hidden;">Longitude</span>
    <%= f.hidden_field :longitude, class: "form-control", :value => session[:current_user_lon],:readonly => true %>
  </div>
<% end %>
  
  <% if !@review.new_record? %>
   <div class="panel panel-default">
     <%= image_tag( @review.picture.url,:size => '300x200') %>
   </div>
  <br>
  <%end%>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><b>Category</b>
      <%= f.collection_select(:category_id, Category.all, :id, :description, {:prompt=>'Select a category'},{:class=>'form-control'}) %>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><%= f.label :question1 %>
    <%= f.text_field :question1, class: "form-control" %>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><%= f.label :question2 %>
    <%= f.text_field :question2, class: "form-control" %>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="text-align: left"><%= f.label :question3 %>
    <%= f.text_field :question3, class: "form-control" %>
    </span>
  </div>
  
  <div class="input-group">
     <span class="input-group-addon" id="basic-addon1" style="text-align: left"> <strong>Image</strong>
    <%= f.file_field :picture, class: "form-control" %>
    </span>
  </div>
  
  <%= f.hidden_field :user_id,:value => session[:current_user_id] %>
  
  <br>

  <%= f.submit :class=> "btn btn-primary" %> | <%= link_to 'Back', reviews_path, class: "btn btn-default" %>
  <% if !@review.new_record? %> 
    | <%= link_to 'Show', @review, class: "btn btn-default" %>
  <%end%>

<% end %>
