<%= form_for(@review) do |f| %>

<hr>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left">Latitude</span>
    <%= f.text_field :latitude, class: "form-control", :value => session[:current_user_lat] %>
  </div>

  <div class="input-group">
   <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left">Longitude</span>
    <%= f.text_field :longitude, class: "form-control", :value => session[:current_user_lon] %>
  </div>
<hr>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left"><%= f.label :title %></span>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left"><%= f.label :description %></span>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left"><%= f.label :question1 %></span>
    <%= f.text_field :question1, class: "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left"><%= f.label :question2 %></span>
    <%= f.text_field :question2, class: "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" style="width: 200px; text-align: left"><%= f.label :question3 %></span>
    <%= f.text_field :question3, class: "form-control" %>
  </div>
  <br>
  <% if @review.user_id == session[:current_user_id] %>
    <div class: "btn btn-default btn-sm">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
