<h2><%= info.title %></h2>
<h3><%= info.description %></h3>

<li>
    <p>
        <%= info.question1 %>
    </p>
</li>
<li>
    <p>
        <%= info.question2 %>
    </p>
</li>
<li>
    <p>
        <%= info.question3 %>
    </p>
</li>

<%= link_to "Visualizza il post", info %>