<h2><%= info.title %></h2>
<h4><%= info.description %></h4>
<%= star_rating(get_avg_for_review(info))%>
<br>
Posted by: <%= User.find(info.user_id).user_name %> | <%= time_ago_in_words(info.created_at) %> ago
<hr>
<% if info.question1 != "" %>
<li>
<p>
  <%= info.question1 %> | <%= star_rating(get_point_question2(info)) %> over <%= get_total_count_for_question2(info) %> ratings
</p>
</li>
<% end %>
<% if info.question2 != "" %>
<li>
<p>
  <%= info.question2 %> | <%= star_rating(get_point_question2(info)) %> over <%= get_total_count_for_question2(info) %> ratings
</p>
</li>
<% end %>
<% if info.question3 != "" %>
<li>
<p>
  <%= info.question3 %> | <%= star_rating(get_point_question3(info)) %> over <%= get_total_count_for_question3(info) %> ratings
</p>
</li>
<% end %>

<%= link_to "Visualizza il post", info %>