<!DOCTYPE html>
<html>
<head>
  <title>RatingMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"OK","learnMore":"More info","link":null,"theme":"light-floating"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
<body class="bg_color">

<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>

<div class="container">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
